@font-face {
  font-family: "Releway Black";
  src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
  font-family: "Releway Black Italic";
  src: url(../fonts/Raleway-Black-Italic.ttf);
}

@font-face {
  font-family: "Releway Bold Italic";
  src: url(../fonts/Raleway-Bold-Italic.ttf);
}

@font-face {
  font-family: "Releway Bold";
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "Releway Extra Bold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "Releway Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url(../fonts/Roboto-Black-Italic.ttf);
}

@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
}

.header {
  width: 100%;
  float: left;
  height: 700px;
  background: url(../images/indexBack.jpg);
  background-size: cover;
}

.header_inside {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
  background: url(../images/surfhouseLogo.png) no-repeat 69px 24px;
  position: relative;
}

.welcome_box {
  width: 270px;
  height: 300px;
  display: block;
  position: absolute;
  top: 336px;
  background-color: #fff51f;
}

.welcome_box_inside1 {
  display: block;
  position: relative;
  padding: 82px 25px 0 25px;
  width: 199px;
  height: 52px;
  font-family: "Releway Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.welcome_box_inside2 {
  display: block;
  position: relative;
  padding: 24px 30px 0 22px;
  width: 218px;
  height: 60px;
  font-family: "Releway Bold Italic", sans-serif;
  font-size: 18px;
  line-height: 0.78;
  color: #333333;
}

.socialIcons {
  position: absolute;
  top: 50px;
  right: 178px;
}

.socialIcons i {
  margin-right: 8px;
  color: white;
}

.socialIcons a {
  text-decoration: none;
}

.socialIcons i:hover {
  color: black;
}

.jpBox {
  width: 313px;
  height: 169px;
  display: block;
  position: absolute;
  top: 243px;
  left: 664px;
}

.jpBox_header {
  font-size: 48px;
  line-height: 0.71;
  font-family: "Releway Bold", sans-serif;
  text-transform: uppercase;
  color: yellow;
}

.jpBox_inside {
  font-size: 17px;
  line-height: 1.33;
  font-family: "Releway Regular", sans-serif;
  color: yellow;
  margin-top: 5px;
}

.buyNow_button{
  width: 124px;
  height: 49px;
  background-color: #fff51f;
  line-height: 49px;
  text-align: center;
  display: block;
  position: absolute;
  margin-top: 62px;
}

.buyNow_button a{
  text-decoration: none;
  font-family: "Relaway Extra Bold", sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}

.container {
  width: 100%;
  float: left;

}


.containerInside {
  width: 1170px;
  margin: 0 auto;
  margin-top: -20px;
}


.containerLeft {
  width: 270px;
  float: left;
}


.containerRigth {
  display: block;
  float: right;
  width: 870px;
  margin-left: 30px;
}


.menu {
  width: inherit;
  display: block;
  background: #26d2fc ;
  margin: 0;
  padding: 0;
}

.menu::after {
  display: block;
  clear: both;
  content: '';
}

.menuList {
  margin: inherit;
  padding: 0;
  list-style-type: none;  
}

.menuList li {
  width: 100%;
  height: 43px;
}

.menuList li:first-child {
  height: 66px;
  background-color: black;
}

.menuList li:first-child a {
  color: white;
  line-height: 66px;
}

.menuList li a {
  display: block;
  height: inherit;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: black;
  text-decoration: none;
  padding: 0 40px;
  box-sizing: border-box;
  line-height: 43px;
}

.menuList li a:hover {
  background-color: black;
  color: white;
}

.banner {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background-image: url(../images/store.jpg);
}


.banner div {
  width: 109px;
  height: 98px;
  font-family: "Releway Black Italic", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  color: #333333;
  padding: 129px 19px 73px 142px;
}

.newProductsHeader {
  width: 100%;
  float: left;
  height: 78px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.newProductsHeader strong {
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase ;
  line-height: 78px;
  color: #707070;
  padding: 0 25px;

}

.productsWrap {
  width: 100%;
  float: left;
}

.productUnit {
  width: 270px;
  height: 320px;
  background-color: #ffffff;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.productUnit:nth-child(3n) {
  margin-right: 0;
}

.poductCorner {
  background: url(../images/new-corner.png);
  font-family: "Roboto Regular", sans-serif;
  font-size: 9px;
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 9px 0 0 20px;
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
}

.poductCornerHot{
  background: url(../images/hot-corner.png);
  font-family: "Roboto Regular", sans-serif;
  font-size: 9px;
  color: black;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 9px 0 0 20px;
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
}

.productimg {
  width: 100%;
  height: 235px;
  float: left;
  margin-bottom: 19px;
}

.productName {
  float: left;
  width: 155px;
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 14px;
  font-weight: 900;
  max-height: 2.5em;
  overflow: hidden;
  color: #333333;
}

.productPriceWrap {
  float: right;
  text-align: right;
}

.actualPrice {
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #333333;
}

.oldPrice {
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-decoration: line-through;
  color: #e24602;
}

.topProductWrap {
  width: 100%;
  float: left;

}

.topProductsHeader {
  width: 100%;
  float: left;
  height: 78px;
  background-color: #f8f8f8;
}

.topProductsHeader strong {
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase ;
  line-height: 78px;
  color: #707070;
  padding: 0 25px;

}

.saleProductWrap {
  width: 100%;
  float: left;
}

.saleProductsHeader {
  width: 100%;
  float: left;
  height: 78px;
  background-color: #f8f8f8;
}

.saleProductsHeader strong {
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase ;
  line-height: 78px;
  color: #707070;
  padding: 0 25px;
}
.brands {
  background-color: white;
  width: 100%;
  height: 160px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  box-sizing: border-box;
}

.instafeedWrap {
  width: 100%;
  height: 350px;
  background-color: #eaeaea;
  float: left;
}

.instafeesHeader {
  width: 100%;
  text-align: center;
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 18px;
  color: #333333;
  margin-top: 50px;
}

.instafeesHeader i {
  font-size: 28px;
}

.instafeesHeader span {
  font-size: 22px;
}

.instafeeImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 60px;
}

.instafeeImages img {
  padding: 5px;
  background-color: white;
}

.socialbuttonsWrap {
  float: left;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socialbuttonsWrap a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100%/3);
  height: inherit;
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.socialbuttonsWrap a:first-child {
  background-color: #3b5997;

}

.socialbuttonsWrap a:nth-child(2) {
  background-color: #3fccfd;
}

.socialbuttonsWrap a:nth-child(3) {
  background-color: #cb2027;
}

.footer {
  width: 100%;
  height: 351px;
  background-color: #373737;
  float: left;
}

.footerInside {
  width: 1170px;
  height: 303px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnHeader {
  font-family: "Raleway Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 8px;
  margin-top: 75px;
}

.columnLinks {
  display: flex;
  flex-direction: column;
}

.columnLinks a {
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 4px;
}

.columnNewsHeader {
  font-family: "Raleway Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 8px;  
  margin-top: 75px;

}

.columnText {
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  line-height: 1;
  width: 195px;
  color: #ffffff;
  padding-bottom: 20px;
}

.emailInput {
  display: inline-block;
}

.emailInput input {
  width: 180px;
  height: 30px;
  background-color: #fff51f;
  outline: none;
  border: none;
  padding-left: 21px;
  float: left;
}

.emailInput button {
  width: 71px;
  height: 30px;
  background-color: #000000;
  float: right;
  border: none;
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  color: #ffffff;
  border: 0;
  outline: none;
}

.paymentMethods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;

}

.aboutcolumnText {
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  line-height: 1;
  width: 195px;
  color: #ffffff;
  padding-bottom: 20px;
  width: 232px;
  height: 85px;
}

.phoneEmailWrap {
  display: block;
}

.phoneEmail {
  float: left;
  display: block;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.phoneEmail div {
  margin-bottom: 5px;
}

.phoneEmailText {
  float: right;
  display: block;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.phoneEmailText div:nth-child(2n) {
  color: #faef03;

}
.phoneEmailText  div {
  margin-bottom: 5px;
}

.footerCopyrights {
  width: 100%;
  height: 47px;
  line-height: 47px;
  background-color: #333333

}

.copyrightsInside {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
}

.copyText {
  float: left;
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  color: #dad9d9;
}

.copySocialWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: relative;
  top: 14px;
}

.copySocialWrap a {
  align-items: center;
  margin-right: 15px;
  color: #dad9d9;

}

.copySocialWrap a:last-child {
  margin-right: 0;
}